*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Gradient section */
.image{
    z-index: -1;
    position: absolute;
}


/* Common css */
.large-text{
    font-size: 50px;
    font-weight: 700;
}

.text{
    color: #8A47F6;
}


/* About us section */
.aboutbg-color{
    background-color: #f0e8fd;
    background-color: 10%;
}


/* Portfolio section */

.mt-t{
    margin-top: 130px;
}

.ms-s{
    margin-left: 6%;
}

@media only screen and (min-width: 1400px){

    .ms{
        margin-left: -208px;
    }
}



/* price section */
.bg-c{
    background-color: #222222;
}