*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.large-text{
    font-size: 61px;
    font-weight: 700;
}

.text{
    color: #8A47F6;
}

.image{
    z-index: -1;
    position: absolute;
}