*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Gradient section */
.image{
    z-index: -1;
    position: absolute;
}


/* Hero section */
.large-text{
    font-size: 50px;
    font-weight: 700;
}

.text{
    color: #8A47F6;
}


/* About us section */
.aboutbg-color{
    background-color: #f0e8fd;
    background-color: 10%;
}